<html>
    <body>
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
        <link href="main.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <script src="https://unpkg.com/vue"></script>
        <div id="app">
            <h1>HellOnEarth Terms of Service: License Agreement</h1>
            <div>
                <div class="content" v-if="contentPresent">
                    <ul>
                        <li v-for="row in content">
                            <a href="#" v-on:click="updateScore(row.message)">{{ row.message }}</a>
                        </li>
                    </ul>
                </div>

                <p id="score" style="display: none;">Score: {{ score }}</p>
                <button v-on:click="showScore">Show Score</button>
                <button id="restart">Restart</button>
            </div>
        </div>
        <script src="main.js"></script>
    </body>
</html>
